@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

body {
  background: linear-gradient(to bottom, #000 12%, #232b30);
}

.wrap {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  background: url(./images/bg.jpg);
  color: #232b30;
}

/* HEADER */
.header .title {
  padding: 5rem;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  text-shadow: 2px 2px 2px #232b30;
}

/* INSERT-TODO */
.insert-todo {
  padding: 2rem;
  text-align: center;
}


.insert-todo .title {
  font-size: 2rem;
  text-shadow: 2px 2px 2px #232b30;
}

.insert-todo input {
  width: 20rem;
  height: 2.5rem;
  margin-right: 1rem;
  padding: 0.3rem;
  color: #000;
}

.insert-todo button {
  height: 2.5rem;
  padding: 0.3rem 0.6rem;
  border: 2.1px solid #fff;
  border-radius: 0.2rem;
  background: transparent;
  cursor: pointer;
}

.insert-todo button:hover {
  background: #fff;
  border: 2.1px solid #000;
  color: #232b30;
}

/* OUTPUT-TODO */
.output-todo {
  width: 20rem;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 1rem;
}

.output-todo .container {
  text-align: center;
}

.output-todo .title {
  padding: 0.8rem;
  text-shadow: 2px 2px 2px #232b30;
}

.output-todo button {
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #fff;
  background: transparent;
  cursor: pointer;
}

.output-todo button:hover {
  background: #fff;
  border: 1px solid #232b30;
  color: #232b30;
}

.output-todo button:last-of-type {
  margin-right: 0;
}

/* FOOTER */
.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  text-align: right;
}

.footer address {
  font-size: 0.8rem;
  text-shadow: 2px 2px 2px #232b30;
}