@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

body {
  background: url(./images/bg02.jpg) no-repeat center;
  background-attachment: fixed;
}

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: #232b30;
}

/* HEADER */
.header .title {
  padding: 4rem 1rem;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px 2px #232b30;
}

/* INSERT-TODO */
.insert-todo {
  padding: 0 2rem 2rem;
  text-align: center;
}

.insert-todo .title {
  font-size: 1rem;
  text-shadow: 2px 2px 2px #232b30;
}

.insert-todo input {
  width: 10rem;
  height: 2rem;
  margin-right: 1rem;
  padding: 0.3rem;
  color: #000;
}

.insert-todo button {
  height: 2rem;
  padding: 0 0.6rem;
  border: 2px solid #fff;
  border-radius: 0.2rem;
  background: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.insert-todo button:hover {
  background: #fff;
  color: #232b30;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* OUTPUT-TODO */
.output-todo .output-todo-list {
  width: 19rem;
  margin: 0 auto 2rem;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 0.2rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 12%, rgba(35, 43, 48, 0.7));
  text-align: center;
}

.output-todo .title {
  padding: 0.8rem;
  font-size: 1rem;
  text-shadow: 2px 2px 2px #232b30;
  transition: 0.3s;
}

.output-todo .title.active{
  color: #000;
  text-decoration: line-through;
}

.output-todo .del-btn,
.output-todo .com-btn {
  margin-right: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid #fff;
  background: transparent;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.output-todo .del-btn:hover,
.output-todo .com-btn:hover {
  background: #fff;
  color: #232b30;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.output-todo .del-btn.active{
  margin-right: 0;
  border: 1px solid #fff;
  background: #000;
}

.output-todo .del-btn.active:hover{
  color: #fff;
}

.output-todo .com-btn {
  margin-right: 0;
}

.output-todo .com-btn.active {
  display: none;
}

/* FOOTER */
.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 1rem;
  text-align: center;
}

.footer address {
  font-size: 0.8rem;
  text-shadow: 2px 2px 2px #232b30;
  text-indent: -9999px;
}


/* 480px ~ 768px */
@media (min-width:480px) {

  /* 480px ~ 768px HEADER */
  .header .title {
    font-size: 3rem;
  }

  /* 480px ~ 768px INSERT-TODO */
  .insert-todo .title {
    font-size: 1.5rem;
  }

  .insert-todo input {
    width: 15rem;
  }

  /* 480px ~ 768px OUTPUT-TODO */
  .output-todo .output-todo-list {
    width: 22rem;
  }

  .output-todo .title {
    font-size: 1.25rem;
  }
}

/* 768px ~ */

@media (min-width:768px) {

  /* 768px ~ HEADER */
  .header .title {
    font-size: 4.5rem;
  }

  /* 768px ~  INSERT-TODO */
  .insert-todo .title {
    font-size: 2.25rem;
  }

  .insert-todo input {
    width: 22.5rem;
  }

  /* 768px ~ OUTPUT-TODO */
  .output-todo .output-todo-list {
    width: 26rem;
  }

  .output-todo .title {
    font-size: 1.6rem;
  }
}